{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div class="row">
        
    <div class="jumbotron">
    <h2>{{ exam.name }} - Exam</h2>
    <b>Date:</b> {{ exam.ExamDate }} </br>
    <b>Instructor:</b> {{ exam.InstrucorName }} / {{ exam.InstructorsEmail }} </br>
    <b>Semester:</b> {{ exam.semester }} {{ exam.Year }} </br>
    <b>Course:</b> {{ exam.Course }} 
    <br /><br />
    <a href="{% url 'exam_update' exam.pk %}"><button type="button" class="btn btn-default">Edit Exam</button></a>
    <a href="{% url 'exam_delete' exam.pk %}"><button type="button" class="btn btn-default btn-primary">Delete Exam</button></a>
        <br />
        </div>
</div>

<div style="margin-left:5px;margin-top:20px">

<h2>Questions Types:</h2>

<ul>
    <li><a href="{% url 'MCQ-list' %}">Multuple Choice Question</a></li>
    <li><a href="{% url 'MAQ-list' %}">Multuple Answer Question</a></li>
    <li><a href="{% url 'TFQ-list' %}">True or False Question</a></li>
    <li><a href="{% url 'ESSQ-list' %}">Essay Question</a></li>
    <li><a href="{% url 'ORDQ-list' %}">Order Question</a></li>
    <li><a href="{% url 'MATQ-list' %}">Match Question</a></li>
    <li><a href="{% url 'NUMQ-list' %}">Numeric Reponse Question</a></li>
    <li><a href="{% url 'SRQ-list' %}">Short Reponse Question</a></li>
    <li><a href="{% url 'FIBQ-list' %}">Fill in blank Question</a></li>

  </ul>
</dl>
</dl>
</dl>

</div>
{% endblock %}