{% extends "base_generic.html" %}

{% block content %}


<h1>Department: {{ department.name }} </h1>
<a href="{% url 'department_update' department.pk %}">Edit Department info</a> </br>
<a href="{% url 'department_delete' department.pk %}">Delete Department</a>

<div style="margin-left:5px;margin-top:20px">

{% if department.school %}
<h2>department:</h2>
{% endif%}
<dl>

<h2> Courses at {{ department.name }}: </h2>

<a href="{% url 'course_create' %}">add new course</a>

{% for c in department.course_set.all %}
<ul>
    <li><a href="{% url 'course-detail' c.pk %}">{{ c }}</a></li>
  </ul>
{% endfor %}
</dl>

</div>
{% endblock %}