{% extends "base_generic.html" %}

{% block content %}
<div class="row">
        <div class="jumbotron">
<h1>Essay Question</h1>

<a href="{% url 'ESS_update' ess_question.pk %}"><button type="button" class="btn btn-default">Edit Question</button></a>
<a href="{% url 'ESS_delete' ess_question.pk %}"><button type="button" class="btn btn-default btn-primary">Delete Question</button></br></br>


<h2>Question: {{ ess_question.question }}</h2>

<h2>Answer: </h2>
<p> {{ess_question.answer}} </p>
<a href="create">no </a>
        
        </div></div>
{% endblock %}