{% extends "base_generic.html" %}

{% block content %}


<h1>Exam: {{ exam.name }} </h1>
<h2>Date: {{ exam.ExamDate }} </br>
	Instructor: {{ exam.InstrucorName }} / {{ exam.InstructorsEmail }} </br>
	Semester: {{ exam.semester }} {{ exam.Year }} </br>
	Course: {{ exam.Course }} </h2>
<a href="{% url 'exam_update' exam.pk %}">Edit the exam info</a> </br>
<a href="{% url 'exam_delete' exam.pk %}">Delete the exam</a>

<div style="margin-left:5px;margin-top:20px">

<h2>Questions:</h2>


<ul>
	<h3> Multuple Choice Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/MCQ/create">Add new Multuple Choice Question </a>
	 {% for question in exam.mc_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Multuple Answer Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/MCA/create">Add new Multuple Answer Question </a>
	 {% for question in exam.ma_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> True or False Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/TFQ/create">Add new True or False Question </a>
	 {% for question in exam.mf_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Essay Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/ESSQ/create">Add new Essay Question </a>
	 {% for question in exam.ess_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Ordering Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/ORDQ/create">Add new Ordering Question </a>
	 {% for question in exam.ord_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Match Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/MATQ/create">Add new Match Question </a>
	 {% for question in exam.mat_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> True or False Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/NUMQ/create">Add new Number Response Question </a>
	 {% for question in exam.num_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Short Response Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/SRQ/create">Add new Short Response Question </a>
	 {% for question in exam.sr_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Multiple Fill in the Blank Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/FIBQ/create">Add new Fill in the Blank Question </a>
	 {% for question in exam.fib_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}
  </br>
  	<h3> Single Fill in the Blank Questions: </h3>
		<a href="/catalog/college/school/department/course/exam/FIBQ/create">Add new Fill in the Blank Question </a>
	 {% for question in exam.fib_question_set.all %}

    <li style="margin-left:45px;" >
      <a>{{ question }}</a>
    </li>
  	{% endfor %}

  </ul>
</dl>
</dl>
</dl>

</div>
{% endblock %}