{% extends "base_generic.html" %}

{% block content %}
<div class="row">
        <div class="jumbotron">
<h1>Numeric Question</h1>

<a href="{% url 'NUM_update' num_question.pk %}"><button type="button" class="btn btn-default">Edit Question</button></a>
<a href="{% url 'NUM_delete' num_question.pk %}"><button type="button" class="btn btn-default btn-primary">Delete Question</button></a></br></br>

<h2>Question: {{ num_question.question }}</h2>

<h2>Answer: {{num_question.answer}} </h2>
        
        </div></div>
{% endblock %}