{% extends "base_generic.html" %}
{% block content %}

<div class="row">
		<div class="jumbotron">
<h1> Ordering Question </h1>
<p> Please Select the Exam. You can enter up to 20 possible answers. If you would like to have less than 20 possible answers, leave them null. Please Make sure to put the answers in the correct order.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    
</form>
</div>
</div>
{% endblock %}
