{% extends "base_generic.html" %}

{% block content %}


<h1>School: {{ school.name }} </h1>
<a href="{% url 'school_update' school.pk %}">Edit school info</a> </br>
<a href="{% url 'school_delete' school.pk %}">Delete school</a>

<div style="margin-left:5px;margin-top:20px">

<h2>Departments:</h2>

<a href="{% url 'department_create' %}">add new department</a>

{% for department in school.department_set.all %}
<ul>
    <li><a href="{% url 'department-detail' department.pk %}">{{ department }}</a></li>
  </ul>
{% endfor %}
</dl>

</div>
{% endblock %}