{% extends "base_generic.html" %}

{% block content %}
<div class="row">
        <div class="jumbotron">
<h1>True or False Question</h1>

<a href="{% url 'TF_update' tf_question.pk %}"><button type="button" class="btn btn-default">Edit Question</button></a>
<a href="{% url 'TF_delete' tf_question.pk %}"><button type="button" class="btn btn-default btn-primary">Delete Question</button></br></br>

<h2>Question: {{ tf_question.question }}</h2>

<h2>Answer: {{tf_question.answers}} </h2>

        
        </div></div>
{% endblock %}